{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<div class="d-md-flex justify-content-between">
    {% set subTitle %}
        {{ 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans }}
        <a href="{{ path('sylius_shop_register') }}">{{ 'sylius.ui.no_account'|trans }} {{ 'sylius.ui.create_an_account'|trans }}.</a>
    {% endset %}
    <div>{{ headers.default('sylius.ui.customer_login'|trans, '', subTitle) }}</div>
</div>

