{% extends 'bootstrap_5_layout.html.twig' %}

{% block setono_sylius_terms_accept_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- set row_class = 'form-check' -%}
    {%- if 'checkbox-inline' in parent_label_class %}
        {% set row_class = row_class ~ ' form-check-inline' %}
    {% endif -%}
    {%- if 'checkbox-switch' in parent_label_class %}
        {% set row_class = row_class ~ ' form-switch' %}
    {% endif -%}
    <div class="{{ row_class }}">
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{- terms_link|raw -}}
        </{{ element|default('label') }}>
    </div>
{% endblock setono_sylius_terms_accept_widget -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            {% if compound %}
                <div class="alert alert-danger m-2">{{ error.message }}</div>
            {% else %}
                <div class="invalid-feedback d-block">{{ error.message }}</div>
            {% endif %}
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}
