{%
    set viewOptions = {
        authorized: { icon: "check", color: "bg-primary" } ,
        awaiting_payment: { icon: "clock", color: "bg-secondary" } ,
        cancelled: { icon: "fx-square", color: "bg-danger" } ,
        paid: { icon: "check", color: "bg-success" } ,
        partially_authorized: { icon: "alert-triangle", color: "bg-warning text-dark" } ,
        partially_paid: { icon: "clock", color: "bg-info text-dark" } ,
        partially_refunded: { icon: "check", color: "bg-info text-dark" } ,
        refunded: { icon: "repeat", color: "bg-light text-dark" } ,
    }
%}

{% set value = 'sylius.ui.' ~ state %}

<span class="{{ viewOptions[state]['color'] }} badge">
    <i data-feather="{{ viewOptions[state]['icon'] }}"></i>
    {{ 'sylius.ui.state'|trans }}: <span id="order-payment-status" {{ sylius_test_html_attribute('order-payment-state') }}>{{ value|trans }}</span>
</span>
