{% macro default(message, icon, type, header) %}
    <div class="alert alert-{{ type|default('') }} alert-dismissible fade show" {{ sylius_test_html_attribute('flash-message', type) }}>
        <h4 class="alert-heading">
            {{ icon }}
            {% if type is not empty %}
                {{ header|default(type)|trans }}&nbsp;
            {% endif %}
        </h4>
        <p class="mb-0">
            {{ message|trans }}
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endmacro %}

{% macro info(message) %}
    {% import _self as messages %}
    {% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

    {{ messages.default(message, icons.info(), 'info', 'sylius.ui.info') }}
{% endmacro %}

{% macro success(message) %}
    {% import _self as messages %}
    {% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

    {{ messages.default(message, icons.success(), 'success', 'sylius.ui.success') }}
{% endmacro %}

{% macro error(message) %}
    {% import _self as messages %}
    {% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

    {{ messages.default(message, icons.danger(), 'danger', 'sylius.ui.error') }}
{% endmacro %}
