{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% set product_variant = item.variant %}

<tr {{ sylius_test_html_attribute('cart-product-row', item.productName) }}>
    <td class="cart-table-remove-cell" {{ sylius_test_html_attribute('cart-item', loop_index|default(null) ) }}>
        <div data-form-action="{{ path('sylius_shop_cart_item_remove', {'id': item.id}) }}" data-form-method="POST" data-form-data="{{ { _method: 'DELETE', _csrf_token: csrf_token(item.id) }|json_encode }}">
            <button type="button" class="btn btn-link text-danger btn-sm" {{ sylius_test_html_attribute('cart-remove-button', item.productName) }} >
                {{ icons.trash() }}
            </button>
        </div>
    </td>
    <td>
        {% include '@SyliusShop/Product/_info.html.twig' with {'variant': product_variant} %}
    </td>
    <td class="text-center">
        {% if item.unitPrice != item.discountedUnitPrice %}
            <small class="sylius-regular-unit-price" {{ sylius_test_html_attribute('cart-product-regular-unit-price') }}><s>{{ money.convertAndFormat(item.unitPrice) }}</s></small>
        {% endif %}
        <span class="sylius-unit-price" {{ sylius_test_html_attribute('cart-product-unit-price', item.productName) }}>{{ money.convertAndFormat(item.discountedUnitPrice) }}</span>
    </td>
    <td class="sylius-quantity">
        <span>{{ form_widget(form.quantity, sylius_test_form_attribute('cart-item-quantity-input', item.productName)) }}</span>
    </td>
    <td class="text-right">
        <span class="sylius-total" {{ sylius_test_html_attribute('cart-product-subtotal') }}>{{ money.convertAndFormat(item.subtotal) }}</span>
    </td>
</tr>
