{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="card product-teaser" {{ sylius_test_html_attribute('product') }}>
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale, 'variant': variant.code}) }}">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img-top'} %}
    </a>
    <div class="card-body" {{ sylius_test_html_attribute('product-content') }}>
        <h5 class="card-title" {{ sylius_test_html_attribute('product-name', product.name) }}>{{ product.name }}</h5>
        {% if product.subTitle is defined and product.subTitle %}<p class="card-text">{{ product.subTitle }}</p>{% endif %}
        <div class="d-flex align-items-center justify-content-between">
            {% if variant %}
                <span class="text-muted sylius-product-price" {{ sylius_test_html_attribute('product-price') }}>
                    {{ money.calculatePrice(variant) }} |
                </span>
            {% endif %}
            <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale, 'variant': variant.code }) }}" class="btn btn-primary">{{ 'sylius.ui.view_more'|trans }}</a>
        </div>
    </div>
</div>
