{% set product = variant.product %}

<div class="d-flex align-items-center">
    <div class="me-3">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
    </div>
    <div class="media-body">
        <h5 class="mt-0 sylius-product-name text-nowrap" {{ sylius_test_html_attribute('product-name', item.productName) }}>
            {{ item.productName }}
        </h5>
        <p class="mb-0 text-nowrap">
            <small class="sylius-product-variant-code" {{ sylius_test_html_attribute('product-variant-code') }}>{{ variant.code }}</small>
            {% if product.hasOptions() %}
                {% for optionValue in variant.optionValues %}
                    | <small>{{ optionValue.value }}</small>
                {% endfor %}
            {% elseif item.variantName is not null %}
                | <small>{{ item.variantName }}</small>
            {% endif %}
        </p>
    </div>
</div>
