<div class="mollie-payments"
     data-locale="{{ app.request.locale }}"
     data-profile_id="{{ gatewayConfig.config['profile_id'] }}"
     data-environment="{{ gatewayConfig.config['environment'] }}"
     data-components="{{ gatewayConfig.config['components'] }}"
>
    {% for keyChoice, choice in methodMollie.vars.choices %}
        <div class="online-payment__item online-payment__item--{{ choice.value }}">
            <input
                type="radio"
                value="{{ choice.value }}"
                id="choice-{{ keyChoice }}"
                name="{{ methodMollie.vars.full_name }}"
                {% if methodMollie.vars.value == choice.value %}checked{% endif %}
            >
            <label class="card" for="choice-{{ keyChoice }}" id="{{ choice.value }}"
                 data-feeurl="{{ path('bitbag_sylius_mollie_plugin_payment_fee_calculate', {methodId: choice.value }) }}">
                <img class="online-payment__image" src="{{ choice.attr['image'] }}">
                <small class="text-muted mt-1">{{ choice.label }}</small>

                {% if choice.value == 'creditcard' and true == gatewayConfig.config['components'] %}
                    {% include '@BitBagSyliusMolliePlugin/Shop/PaymentMollie/_creditCardForm.html.twig' %}
                {% elseif choice.value == 'ideal' %}
                    {% for key, method in mollie_payment_options %}
                        {% if key == 'issuers' and method.vars.choices|length > 0 %}
                            {% include '@BitBagSyliusMolliePlugin/Shop/PaymentMollie/_issuers.html.twig' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </label>
        </div>
    {% endfor %}
</div>
{{ form_row(mollie_payment_options.cartToken) }}
